# Course: Deep Learning
# Author: Sandro da Silva Camargo <sandrocamargo@unipampa.edu.br>
# Python Fundamentals

This notebook aims to present the basic elements of python language.

#**Data Types**

In programming, data type is a very important concept.

Variables in a computer program can store data of different types

Python has the following data types built-in by default, in these categories:

Text Type:	str


*   Text Type: str
*   Numeric Types: int, float, and complex
*   Sequenct Types: list, tuple, and range
*   Mapping Type: dict
*   Set Types: set, frozenset
*   Boolean Type: bool
*   Binary Types: bytes, bytearray, memoryview
*   None Type: NoneType

Int: Int are in decimal base by default, but it is possible to use binary (0b), octal (0o) and Hexadecimal (0x).
Bool: 0=False, 1=True

In [ ]:
# Creating an int variable
x = 10 # Setting a decimal value
xx = 101
print("Integer:", x)

y = 123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890
print("Big int:", y)

x = 0b1011 # setting a binary value
print("Binary:", x)
print("Binary:", bin(x))

x = 0o77 # setting a octal value
print("Octal:", x)
print("Octal:", oct(x))

x = 0xB0CA # setting a hexadecimal value
print("Hexadecimal:", x)
print("Hexadecimal:", hex(x))

Integer: 10
Big int: 123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890
Binary: 11
Binary: 0b1011
Octal: 63
Octal: 0o77
Hexadecimal: 45258
Hexadecimal: 0xb0ca

In [ ]:
# Creating a boolean variable
x = bool(1)
print(x)

x = bool(0)
print(x)

True
False

String variables must be between quotation marks.

In [ ]:
x = "Good morning"
print(x)
x = 'Good afternoon'
print(x)

Good morning
Good afternoon

Floating point variables can be either: float or complex.

In [ ]:
x = 0.123456789012345678901234567890123456789012345678901234567890
print("Floating point number:", x)
x = 3+1j
print("Complex number:", x)

Floating point number: 0.12345678901234568
Complex number: (3+1j)

# Data types conversion

Data type conversion can be done with the functions: int, float, bool, str.

In [ ]:
x = "2019"
print(x)

#x = x+1 # Data type Error

y = int(x)+1
print(y)

y = float(x)+1
print(y)

x = 3.1415
print(int(x))

2019
2020
2020.0
3

# Arithmetic Operators
The arithmetic operators are +, -, \*, /, //, %, \*\*.

\/\/ represents integer division

\% represents the remainder

\*\* represents power

In [ ]:
x = 3
y = 2
print("Add:", x+y)
print("Subtract:", x-y)
print("Multiply:", x*y)
print("Division:", x/y)
print("Integer division:",x//y)
print("Remainder:",x%y)
print("Power:",x**y)

Add: 5
Subtract: 1
Multiply: 6
Division: 1.5
Integer division: 1
Remainder: 1
Power: 9

In [ ]:
x = 0x00CA
y = 0x00B0

print(x+y)
print(bin(x**y))

378
0b1110010111110101000001001101100000111011111011100010101100110101000000011000000101010000101101110101001110000000101001111010010011110110001110011110111001000001001001111011110110111110110011000101010100011101010110000011101000001111001001010000110001111010000001110010000011000000110111111010111111000010101111110101100110001111110011000001001101101111000010101011000000010001001101110111011110001100100101010001110010001101111011110110110001111101110111011000000101001011000000000011000000100101001101101011110011011000111010110011000011111001110000001011011110010011100100101011100101110000010010011111010011110010101010010101000100000000111111010001101001011001001111110110000001100011011010100011110111001111111001111111101000111101100001010110111001011100001111101000110111110101011100010111100111100001100110010000101001000101100000011010100000101010100001011010001010011110001011111011100110110000100111001110011001011011010000001011001101110111001101010101011010111110101000001110101010110111111001101001010101101001011010110100010011101010100001000101100000011010000111100001110010011010111111010101110001101100010001001111011000011100001101011110001101110100000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

# Logical operators

Basic logical operators are and, or e not.

In [ ]:
x = 0b1010
y = 0b0101
z = 1

print(bin(x and y))
print(x and y)
print(bin(x or y))
print(not(z))

0b101
5
0b1010
False

# Data input

Data input can be done with input function.

In [ ]:
name = input("What is your name?")
age = input("How old are you?")
print("%s is %d years old." %(str(name), int(age)))

What is your name? Sandro
How old are you?46
 Sandro is 46 years old.

# Selection/Decision control statements


Control statements available in python are (if), (if-else), (if-elif), and (if-elif-else).

In [ ]:
x = input("Please, type an integer number:")

if (int(x)%2==0):
  print("This number is even.")

Please, type an integer number:1

In [ ]:
x = input("Please, type an integer number:")

if (int(x)%2==0):
  print("This number is even.")
else:
  print("This number is odd.")

Please, type an integer number:88
This number is even.

In [ ]:
x = input("Please, type an integer number:")

if (int(x)%2==1):
  print("This number is odd.")
else:
  if(int(x)%10==0):
    print("This number is even and it is multiple of 10.")
  else:
    print("This number is even and it is not multiple of 10.")

Please, type an integer number:100
This number is even and it is multiple of 10.

In [ ]:
op = input("Having the numbers 10 and 5, choose one of this arithmetic operators: +, -, * ou /")
x1 = 10
x2 = 5

if (op=="+"):
  print(x1 + x2)
elif (op=="-"):
  print(x1 - x2)
elif (op=="*"):
  print(x1 * x2)
elif (op=="/"):
  print(x1 / x2)
elif (op=="**"):
  print(x1**x2)
else:
  print("Unrecognized operator.")

Having the numbers 10 and 5, choose one of this arithmetic operators: +, -, * ou /**
100000

### Match

A match statement gets an expression and compares its value to successive patterns given as one or more case blocks.

In [ ]:
def internet_error(status):
  match status:
    case 400:
      return "Bad request"
    case 404:
      return "Not found"
    case 418:
      return "I'm a teapot"
    case _:
      return "Something's wrong with the internet"

internet_error(400)

'Bad request'

# Repetition Statements


Basic repetition statements are (while) e (for).

In [ ]:
i=1
while i<=20:
  print(i, end=",")
  i=i+1
print(".")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,.

In [ ]:
for i in [2,4,7,8,9]:
  print(i, end=" ")
print(".")

2 4 7 8 9 .

In [ ]:
for i in range(10,20):
  print(i, end=" ")
print(".")

10 11 12 13 14 15 16 17 18 19 .

In [ ]:
for i in range(1,20,4):
  print(i, end=" ")
print(".")

1 5 9 13 17 .

In [ ]:
x = input("Type a number: ")
x = int(x)

resp = 1
for i in range(1,(x+1)):
  resp = resp * i

print("The factorial of %d is %d." %(int(x),int(resp)))

Type a number: 8
The factorial of 8 is 40320.

# Functions

A function is a block of code, which was designed to perform a single action, organized to be reused.

A function is supposed to have some basic elements:
- Functions begin by keyword def, followed by the function name and parentheses to receive the parameters.
- All the parameters must be in the parentheses.
- The first element of a function should be the documentation.
- A block of code which is inside a function begins with colon and must be indended.
- return command ends a function and returns the result to the place where the function was invoked. If no argument is provided, the function returns nothing.

In [ ]:
def evenorodd(n):
  "This is a function to test if a number is even or odd. The function receives a single input."
  if n%2==0:
    result = "even"
  else:
    result = "odd"
  return result

In [ ]:
age = input("What is your age:")
resp = evenorodd(int(age))
print("%d is %s." %(int(age), resp))

What is your age:9
9 is odd.

In [ ]:
def divisible(x,y):
  "This function receives two inputs and returns the information about the divisibility."
  if x%y==0:
    result = "is divisible"
  else:
    result = "is not divisible"
  return result

In [ ]:
entrada1 = input("Type the first number:")
entrada2 = input("Type the second number:")
resp = divisible(int(entrada1),int(entrada2))
print("%d %s by %d." %(int(entrada1), resp, int(entrada2)))

Type the first number:101
Type the second number:3
101 is not divisible by 3.

A function is recursive if, in their body, there is a call to itself.

In [ ]:
def fat(n):
  "This is a recursive function to compute the factorial."
  if n==0:
    return 1
  else:
    return n*fat(n-1)

In [ ]:
number = input("Please, type a number:")
print("The factorial of %d is %d." %(int(number), fat(int(number))))

Please, type a number:7
The factorial of 7 is 5040.

# Variables Scope

In [ ]:
# The id() function returns a unique id for the specified object
def passing_parameters(x):
    "This function presents variables and their contexts"
    print("x=",x," id=",id(x))
    x=14
    print("x=",x," id=",id(x))

x = 12
print("x=",x," id=",id(x))
passing_parameters(x)
print("x=",x," id=",id(x))

x= 12  id= 11122944
x= 12  id= 11122944
x= 14  id= 11123008
x= 12  id= 11122944

# Data Structures

The data structures are vectors, matrices, strings and tuples.

A vector is a unidimensional data structure which contains elements of the same type.

In [ ]:
vetor=[4,3,2,1]

print("The first element of this vector is %d." %int(vetor[0]))
print("The forth element of this vector is %d." %int(vetor[3]))
print(vetor)

The first element of this vector is 4.
The forth element of this vector is 1.
[4, 3, 2, 1]

In [ ]:
vetor=[]
for i in range(0,10):
  vetor.append(i*3)

print("The vector has %d elements." %len(vetor))

for i in range(0,len(vetor)):
  print("Position[",i,"]: Value ",vetor[i])

print("Original vector: ", vetor)

vetor.remove(6) # Remove this value
vetor.insert(1,30) # Insert element 30 at position 1
print(vetor)
vetor.pop(0) # Remove element at a given position
print(vetor)
print(vetor.count(21)) # Count the number of times this element appears
print(vetor.index(27)) # Position of this element

The vector has 10 elements.
Position[ 0 ]: Value  0
Position[ 1 ]: Value  3
Position[ 2 ]: Value  6
Position[ 3 ]: Value  9
Position[ 4 ]: Value  12
Position[ 5 ]: Value  15
Position[ 6 ]: Value  18
Position[ 7 ]: Value  21
Position[ 8 ]: Value  24
Position[ 9 ]: Value  27
Original vector:  [0, 3, 6, 9, 12, 15, 18, 21, 24, 27]
[0, 30, 3, 9, 12, 15, 18, 21, 24, 27]
[30, 3, 9, 12, 15, 18, 21, 24, 27]
1
8

In [ ]:
vetor.reverse()
print("Reversed vector: ")
print(vetor)
vetor.sort()
print("Sorted vector: ")
print(vetor)
vetor.clear()
print("Empty vector: ")
print(vetor)

Reversed vector:
[27, 24, 21, 18, 15, 12, 9, 3, 30]
Sorted vector:
[3, 9, 12, 15, 18, 21, 24, 27, 30]
Empty vector:
[]

### Using list as stack

In [1]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)
stack.pop()
print(stack)
stack.pop()
print(stack)
stack.pop()
print(stack)

[3, 4, 5, 6, 7]
[3, 4, 5, 6]
[3, 4, 5]
[3, 4]

### Using list as queue

In [2]:
from collections import deque

queue = deque(["Gabriel", "João", "Vinícius"])
queue.append("Antonio")         # Antonio arrives
queue.append("Sandro")          # Sandro arrives
queue.popleft()                 # The first to arrive now leaves
queue.popleft()                 # The second to arrive now leaves
print(queue)                    # Remaining queue in order of arrival

deque(['Vinícius', 'Antonio', 'Sandro'])

### A matrix is a bidimensional structure which contains a set of data of the same type.

In [ ]:
matrizstr =  [["","X",""],
          ["","","X"],
          ["","X",""],
          ["X","",""],
          ["","X",""],
          ["","","X"],
          ["","X",""]]
print(matrizstr)

matrizint =  [[0,"",0],
          [0,0,1],
          [0,1,0],
          [1,0,0],
          [0,1,0],
          [0,0,1],
          [0,1,0]]
print(matrizint)
matrizint[0][1]=0
matrizint[0][0]=1
print(matrizint)

[['', 'X', ''], ['', '', 'X'], ['', 'X', ''], ['X', '', ''], ['', 'X', ''], ['', '', 'X'], ['', 'X', '']]
[[0, '', 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [0, 1, 0], [0, 0, 1], [0, 1, 0]]
[[1, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [0, 1, 0], [0, 0, 1], [0, 1, 0]]

In [ ]:
vetor1 = [1, 2, 3]
vetor2 = [4, 5, 6]
vetor3 = [7, 8, 9]
vetor2.append(vetor3)
vetor1.append(vetor2)
print(vetor1)
print(vetor1[3])

[1, 2, 3, [4, 5, 6, [7, 8, 9]]]
[4, 5, 6, [7, 8, 9]]

### Tuple
Tuple is a sequence of references to objects. These objects can be of different data types.

In [ ]:
#@title
course = ("Deep Learning", 50, 60,30,0)
print(course)

result = ("Success","Fail Grade","Fail Frequency")
print(result)

for r in result:
  print(r)

('Deep Learning', 50, 60, 30, 0)
('Success', 'Fail Grade', 'Fail Frequency')
Success
Fail Grade
Fail Frequency

### Sets
A set is an unordered collection with no duplicate elements.

In [3]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed
print('orange' in basket)                 # fast membership testing
print('onion' in basket)

{'apple', 'orange', 'banana', 'pear'}
True
False

### Dictionary

Dictionaries are also named as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.

In [ ]:
extensions = {'sandro': 3257, 'leonardo': 3236}
extensions['biblioteca'] = 3001
print(extensions)
print(extensions['sandro'])
del extensions['biblioteca']
extensions['nude'] = 3055
print("Extensions: ", extensions)
print("Extension keys: ", list(extensions))
print("Extensions sorted: ", sorted(extensions))
print('nude' in extensions)
print('nude' not in extensions)

{'sandro': 3257, 'leonardo': 3236, 'biblioteca': 3001}
3257
Extensions:  {'sandro': 3257, 'leonardo': 3236, 'nude': 3055}
Extension keys:  ['sandro', 'leonardo', 'nude']
Extensions sorted:  ['leonardo', 'nude', 'sandro']
True
False

In [4]:
print(dict([('data center', 3028), ('coordenacao academica', 3022), ('coordenacao administrativa', 3024)]))

{'data center': 3028, 'coordenacao academica': 3022, 'coordenacao administrativa': 3024}